/**
 * Stylesheet for cards 
 */
.card * {
    box-sizing: border-box;   
}

.card {
    font-family: Trebuchet, Arial, sans-serif;
    display: inline-block;
    position: relative;
    background-color: white;
    width: 14vw;
    height: 20vw;
    border: solid 1px #000;
    border-radius: 0.5vw;
    font-size: 1.2vw;
    margin: 2vw;
}

.card header, .card footer {
    font-size: inherit;
    width: 100%;
    padding: 0.2vw;
    height: 20%;    
    text-align: center;
    background-color: grey;
    border-radius: 0.5vw 0.5vw 0 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}


.card img {
    box-sizing: border-box;
    width: 74%;
    height: 50%;
    padding: 0vw;
    border: none;
}


/** ATTACK CARDS **/

.card.attack:after {
    position: absolute; 
    bottom: 0vw;
    right: 0.2vw;
    font-size: 1.5vw;
    content: '\02694';
}

/*** STUFF CARDS ***/

.card.stuff:after {
    position: absolute; 
    bottom: 0.1vw;
    right: 0.2vw;
    content: '\01F4E6';
}
.card.stuff footer {
    height: 5vw;
    font-size: 1.6vw;   
}
.card.stuff img {
    display: block;
    margin: 0.5vw auto;
}
.card[data-numero]:before {
    position: absolute; 
    font-size: 0.8vw;
    top: 2.9vw; 
    right: 0.2vw;
    content: attr(data-numero);
    
}

/*** SPECIAL CARDS **/
.card.special img {
    display: block;
    margin: 0.5vw auto;
}
.card.special footer {
    height: 5vw;
    font-size: 0.9vw;   
}


.enemy img {
    float: left;
    border-right: solid 1px #000;
}
.attack img, .event:not(.special) img {
    float: right;
    border-left: solid 1px #000;
}
.card header {
    border-bottom: solid 1px #000;   
}
.card footer {
    position: absolute; 
    bottom: 0; 
    height: 30%;
    font-size: 0.9vw;
    background-color: grey;
    border-top: solid 1px #000;
    border-radius: 0 0 0.5vw 0.5vw;
}

.card.food header,
.card.food footer {
    background-color: pink;   
    color: black;
}
.card.transport header,
.card.transport footer {
    background-color: lightgreen;   
    color: black;
}
.card.techno header,
.card.techno footer {
    background-color: lightskyblue;  
    color: black;
}
.card.enemy header,
.card.enemy footer {
    background-color: orange;  
    color: black;
}
.card.event header,
.card.event footer {
    background-color: darkred !important;  
    color: white !important;
}
.card.special header,
.card.special footer {
    background-color: yellow;  
    color: black;
}


.card aside {
/*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    */
    position: absolute;
    top: 4vw;
    height: 10vw;
}

.card:not(.enemy) aside {
    left: 0.2vw;
}
.card:not(.enemy) aside div {
    text-align: left;
}
.card.enemy aside {
    right: 0.2vw; 
}
.card.enemy aside div {
    text-align: right;
}

.card aside div {
    border: solid 0px #000;
    width: 4vw;
    height: 3.3vw;
    font-size: 1.45vw;
    line-height: 2.5;
    text-align: center;
    color: black;
}
.card.enemy aside div[data-pass="ok"]:after {
    color: darkgreen;
}

.card.enemy aside div:after {
    position: absolute; 
    color: red;
    text-align: center;
    content: attr(data-attack);
    right: -3vw;
}
.card.attack aside div:nth-child(1):before, 
.card.event aside div:nth-child(1):before {
    content: attr(data-value) ' \02708';
}
.card.enemy aside div:nth-child(1):before {
    content: '\02708\020' attr(data-value);
}
.card.attack aside div:nth-child(2):before,
.card.event aside div:nth-child(2):before {
    content: attr(data-value) ' \01F356';
}
.card.enemy aside div:nth-child(2):before {
    content: '\01F356\020' attr(data-value);
}
.card.attack aside div:nth-child(3):before,
.card.event aside div:nth-child(3):before {
    content: attr(data-value) ' \01F4F1';
}
.card.enemy aside div:nth-child(3):before {
    content: '\01F4F1' attr(data-value);
}


/*** UPDATE CARD RESPONSIVE ***/
body {
    --card-width: 14vw;
    --card-height: 20vw;
    --card-font-size: 1.2vw;
    --card-base-margin: calc(var(--card-height) / 40);
    --card-border: 1px; 
    --card-delta: 2vw;
}
        
.card {
    width: var(--card-width);
    height: var(--card-height);
    border: solid var(--card-border) #000;
    border-radius: var(--card-base-margin);
    font-size: var(--card-font-size);
    margin: calc(2 * var(--card-base-margin));
}

.card header, .card footer {
    font-size: inherit;
    width: 100%;
    padding: calc(var(--card-font-size) / 6);
    height: 20%;    
    text-align: center;
    background-color: grey;
    border-radius: var(--card-base-margin) var(--card-base-margin) 0 0;
}


.card img {
    box-sizing: border-box;
    width: calc(var(--card-height) / 2);
    height: calc(var(--card-height) / 2);
    padding: 0;
    border: none;
}


/** ATTACK CARDS **/

.card.attack:after {
    right: calc(var(--card-height) / 50);
    bottom: calc(var(--card-base-margin) / 5);
    font-size: calc(var(--card-font-size) * 1.25);
}

/*** STUFF CARDS ***/

.card.stuff:after {
    right: calc(var(--card-height) / 50);
    bottom: calc(var(--card-base-margin) / 5);
}
.card.stuff footer {
    height: calc(var(--card-height) / 4);
    font-size: calc(var(--card-font-size) * 1.33);   
}
.card.stuff img {
    display: block;
    margin: var(--card-base-margin) auto;
}
.card[data-numero]:before {
    position: absolute; 
    font-size: calc(var(--card-font-size) * 0.66);
    top: 14%; 
    right: calc(var(--card-base-margin) / 4);
    content: attr(data-numero);
    
}

/*** SPECIAL CARDS **/
.card.special img {
    display: block;
    margin: var(--card-base-margin) auto;
}
.card.special footer {
    height: calc(var(--card-height) / 4);
    font-size: calc(var(--card-font-size) * 0.75);   
}


.enemy img {
    float: left;
    border-right: solid var(--card-border) #000;
}
.attack img, .event:not(.special) img {
    float: right;
    border-left: solid var(--card-border) #000;
}
.card header {
    border-bottom: solid var(--card-border) #000;   
}
.card footer {
    position: absolute; 
    bottom: 0; 
    height: 30%;
    font-size: calc(var(--card-font-size) * 0.75);
    background-color: grey;
    border-top: solid var(--card-border) #000;
    border-radius: 0 0 var(--card-base-margin) var(--card-base-margin);
}
.card aside {
    position: absolute;
    top: 20%;
    height: calc(var(--card-height) / 2);
}

.card:not(.enemy) aside {
    left: calc(var(--card-base-margin) * 0.6);
}
.card:not(.enemy) aside div {
    text-align: left;
}
.card.enemy aside {
    right: calc(var(--card-base-margin) * 0.4); 
}
.card.enemy aside div {
    text-align: right;
}

.card aside div {
    border: solid 0 #F00;
    width: 100%;
    height: 33%;
    font-size: calc(var(--card-font-size) * 1.16);
    padding-top: calc(var(--card-base-margin) * 2);
    line-height: 1;
    text-align: center;
    color: black;
}
.card.enemy aside div[data-attack="0"]:after {
    content: '' !important;
}
.card.enemy aside div[data-pass="ok"]:after {
    color: lightgreen;
    content: attr(data-attack) !important;
}

.card.enemy aside div:after {
    position: absolute; 
    color: lightred;
    text-align: center;
/*    text-shadow: 
        1px 1px 1px white, -1px -1px 1px white,
        -1px 1px 1px white, 1px -1px 1px white;
    */
    content: attr(data-attack);
    right: calc(var(--card-base-margin) * -6);
}





