/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/********** Beginning of 100s to Midnight stylesheet ********/

body {
    --cube-size: 15vw;   
    --main-color: rgb(75, 0, 130); 
    height: 100vh;
    background-image: linear-gradient(345deg, #F4418e 20%, #060245 57%, #000 75%);
    /*
    background-size: 100% 300vh;
    background-position: 0 -120vh;
    transition: background-position 3s linear 0s;
    */
    font-family: Trebuchet, Arial, sans-serif;
}
 
body > * {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: white;
    background: transparent;
    display: none;
}

* {
    box-sizing: border-box;
}   



h1, h2, h3 {
    font-size: 14vw;
    margin-top: 5vh;
    text-align: center;
    line-height: 1.2;
}

h2 {
    font-size: 10vw;   
}

h3 {
    font-size: 7vw;
    text-align: left;
}


strong {
    display: inline;
    font-weight: bold;
}


/** TITLE PAGE **/
#title {
   display: block;   
}

#title input, #title label {
    font-size: 6vw;
    text-align: center;
}
#title label {
    display: block;
    margin-top: 30vh;
    line-height: 1.4;
}
#title input {
    width: 60%;
}

#title img:first-of-type {
    display: block;
    position: absolute; 
}

#title div {
    position: absolute; 
    text-align: center;
}

#title button, #menu button, #main button, #credits button {
    padding: 0.5vw;
    font-size: 2.6vw;
    text-align: center;
    font-weight: bold;
    background-color: var(--main-color);
    border-radius: 0.6vw;
    color: white;
}

/** Media queries for managing orientation */
@media all and (orientation: landscape) {
    
    #title img:first-of-type {
        width: 80vh;
        left: calc(50vw - 40vh);
        top: 20%;
    }

    #title div {
        bottom: 18%;
        width: 100%;
    }
       
    #title div button{
        width: auto;
        padding: 1.5vh 3vh;
        font-size: 3.2vh;
        margin: 0 2vh;
    }
    #title button:nth-of-type(2) {
        right: 35vw;
    }
}

@media all and (orientation: portrait) {
    
    #title img:first-of-type {
        width: 94vw;
        left: 5vw;
        top: 10%;       
    }

    #title img:last-of-type {
        width: 20vw;
        height: auto;
        right: 2vw;
        bottom: 2vw;
    }

    #title div {
        bottom: 10%;
        width: 100%;
        height: 25vh;
    }
    
    #title div button, #credits button {
        width: 46vw;
        font-size: 4vw;   
        padding: 1vh 2vh;
        display: block;
        margin: 4vw auto;
        border-radius: 2vw;
    }

}


/**** MAIN BOARD ***/

#main {
    display: none;   
}

#main h2 {
    font-size: 6vw;   
    margin-bottom: 2vw;
    margin-top: 10vh;   
}

#main button {
    position: absolute; 
}

#main p {
    border: solid 1px #FFF;
    padding: 4vw;
    line-height: 1.7;
}

#main .card p {
    border: none 0;
    padding: 0;
    line-height: 1;
}



/** Credit page **/

#credits h2 {
    font-size: 4.2vh;
    margin-top: 5%;
    margin-bottom: 10vh;
    font-weight: bold;
}

#credits h3 {
    text-align: center;
    font-size: 3.5vh;       
    font-weight: bold;
    margin-top: 8vh;
    margin-bottom: 2vh;
}

#credits p {
    font-size: 3vh;
    text-align: center;
    margin-bottom: 4vh;
}

#credits button {
    position: absolute; 
    width: 30vh;
    left: calc(50vw - 15vh);
    bottom: 4vh;
}

@media all and (orientation: portrait) {
    #credits h2 {
        font-size: 7vw;   
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    #credits button {
        width: 34vw;
        left: 36vw;
    }
    #credits h3 {
        font-size: 4.2vw;
    }
    #credits p {
        font-size: 3.5vw;   
    }
}

#logoGGJ {
    display: block;
    width: 14vw;
    height: 14vw;
    position: absolute; 
    right: 1vw;
    bottom: 1vw;
}
@media all and (orientation: portrait) {
    #logoGGJ {
        right: 1vw;
        bottom: 1vw;
    }
}



/**********************************************
             Card on board 
 **********************************************/

#main .card {
    position: absolute;
    box-shadow: 0.2vw 0.2vw 0.2vw #000;
    color: black;
}

#main #pioche {
    position: absolute;
}

#main #pioche .card.event {
    margin: 0;
    left: 0;
    top: 0;
}
#main #pioche .card.event img {
    margin: 0 auto;
}
#main #pioche .card.event footer {
    font-size: calc(var(--card-font-size) * 0.7);
    line-height: 1.2;
}

@media all and (orientation: landscape) {
    #main {
        --card-width: 28vh;
        --card-height: 40vh;
        --card-font-size: 2.4vh;
        --card-base-margin: calc(var(--card-height) / 40);
        --card-border: 1px; 
        --card-delta: 4vh;
        --card-top: 10vh;
    }
    #main .card {
        top: var(--card-top);
    }
    #main #board .enemy {
        left: 10vh;
    }
    #main .card.attack, #main .card.event {
        left: 48vh;
    }
    #main #pioche {
        --card-width: calc(28vh * 1);
        --card-height: calc(40vh * 1);
        --card-font-size: calc(2.4vh * 1);
        right: 2vh;
        top: var(--card-top);
        width: var(--card-width);
        height: var(--card-height);
    }

}
@media all and (orientation: portrait) {
    #main {
        --card-width: calc(28vw * 1.4);
        --card-height: calc(40vw * 1.4);
        --card-font-size: calc(2.4vw * 1.4);
        --card-base-margin: calc(var(--card-height) / 40);
        --card-border: 1px; 
        --card-delta: 0.1vw;
        --card-top: 10vh;
    }
    #main .card {
        top: var(--card-top);
    }
    #main .card.attack, #main .card.event {
        right: 2vw;
    }
    #main #pioche {
        --card-width: calc(28vw * 1.4);
        --card-height: calc(40vw * 1.4);
        --card-font-size: calc(2.4vw * 1.4);
        left: 4vw;
        bottom: 2vw;
        width: var(--card-width);
        height: var(--card-height);
    }

}






/************************************************************************
 *                                                                      *
 *      GUI on BOARD for half-supported game                            *
 *                                                                      *
 ************************************************************************/

#main button {
    position: absolute;   
    width: auto;
    margin: 0;
}

#main #board {
    position: relative;
}

@media all and (orientation: landscape) {
    #main button {
        padding: 1vh;
        font-size: 3.5vh;   
    }
    #main #btnBackToMenu {
        left: 1vw;
        top: 1vw;
    }
    /** Clock buttons **/
    #main #btnEndTurn {
        right: 36vh;
        bottom: 2vh;
    }
    /** Card buttons **/
    #main #btnUpdateClock {
        bottom: 45vh;
        right: 2vw;
    }
    #main #btnPlayAttack {
        top: calc(var(--card-top) + 5vh);
        left: 2vh;
    }
    #main #btnCancelLast {
        top: calc(var(--card-top) + 20vh);
        left: 2vh;
    }
    #main #btnPickEvent {
        right: 2vh;
        top: -8vh;
    }
}
@media all and (orientation: portrait) {
    #main button {
        font-size: 3.2vw; 
        padding: 0.8vh;
        border-radius: 1.5vw;
    }

    #main #btnBackToMenu {
        left: 1vh;
        top: 1vh;
    }
    /** Clock buttons **/
    #main #btnEndTurn {
        right: 12vw;
        bottom: 50vw;
    }
    #main #btnUpdateClock {
        bottom: 2vw;
        right: 25vw;
    }
    /** Card buttons **/
    #main #btnPlayAttack {
        top: calc(20% - 3vw);
        left: 2vh;
    }
    #main #btnCancelLast {
        top: calc(20% - 3vw);
        left: 17vw;
    }
    #main #btnPickEvent {
        right: 8vw;
        top: -10vw;
    }
}


/*** Game over screen **/

#gameOver, #gameOver div {
    display: none;
}

#gameOver div {
    position: absolute;
    top: 50%;
    background: white;
    width: 100%;
    text-align: center;
    color: black;
    height: 20vh;
    padding-top: 6vh;
    font-size: 6vh;
    transform: translateY(-50%);
}


/*** Instructions block **/

#instructions {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 3vh;
    font-size: 2.8vh;
}

#instructions p {
    border: none;
    padding: 0;
}
#instructions td {
    padding: 0.6vh;   
}

@media all and (orientation: portrait) {
    #instructions {
        display: none;
        bottom: 60vw;
        font-size: 3vw;
    }
    #instructions td {
        padding: 0.6vw;   
    }
}




/************************************************************************
 *                                                                      *
 *                          HORLOGE                                     *
 *                                                                      *
 ************************************************************************/

#clock {
    position: absolute; 
    bottom: 1vw;
    right: 1vw;
    border-radius: 50%;
    background-color: #fff;
    --clock-size: 36vh;
    height: var(--clock-size);
    width: var(--clock-size);
    transition: background 3s linear 0s;
    border: solid 1px #000;
}

@media all and (orientation: portrait) {
    #clock {
        --clock-size: 45vw;   
    }
}

#clock:before {
    color: black;
    transition: color 3s linear 0s;
    font-size: calc(var(--clock-size) / 10);
    content: attr(data-seconds) 's';
    position: absolute;
    left: 20%;
    top: 60%;
}
#clock[data-seconds="0"]:before {
    color: white;   
}

#clock:after {
    background: #000;
    border-radius: 50%;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
}

#clock div.puce {
    position: absolute;
    left: calc(var(--clock-size) * 0.5 - calc(var(--clock-size) / 50));
    top: calc(var(--clock-size) * 0.5 - calc(var(--clock-size) / 50));
    width: calc(var(--clock-size) / 25);
    height: calc(var(--clock-size) / 25);
    border-radius: 50%;
    background-color: black;
    transform: rotate(0deg) translateX(calc(var(--clock-size) * 0.45));
}
#clock div.puce:nth-of-type(2) {
    transform: rotate(30deg) translateX(calc(var(--clock-size) * 0.45));   
}
#clock div.puce:nth-of-type(3) {
    transform: rotate(60deg) translateX(calc(var(--clock-size) * 0.45));   
}
#clock div.puce:nth-of-type(4) {
    transform: rotate(90deg) translateX(calc(var(--clock-size) * 0.45));   
}
#clock div.puce:nth-of-type(5) {
    transform: rotate(120deg) translateX(calc(var(--clock-size) * 0.45));   
}
#clock div.puce:nth-of-type(6) {
    transform: rotate(150deg) translateX(calc(var(--clock-size) * 0.45));   
}
#clock div.puce:nth-of-type(7) {
    transform: rotate(180deg) translateX(calc(var(--clock-size) * 0.45));   
}
#clock div.puce:nth-of-type(8) {
    transform: rotate(210deg) translateX(calc(var(--clock-size) * 0.45));   
}
#clock div.puce:nth-of-type(9) {
    transform: rotate(240deg) translateX(calc(var(--clock-size) * 0.45));   
}
#clock div.puce:nth-of-type(10) {
    transform: rotate(270deg) translateX(calc(var(--clock-size) * 0.45));   
}
#clock div.puce:nth-of-type(11) {
    transform: rotate(300deg) translateX(calc(var(--clock-size) * 0.45));   
}
#clock div.puce:nth-of-type(12) {
    transform: rotate(330deg) translateX(calc(var(--clock-size) * 0.45));   
}

.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hours {
    background: #000;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.5%;
}
.hours-container {
    transform: rotateZ(359.16deg);
}

.minutes {
    background: #000;
    height: 40%;
    left: 49%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 2%;
}

.seconds {
    background: #000;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 8;
}
.minutes-container {
    transform: rotateZ(350deg);
    transition: transform 3s ease-in-out; /*cubic-bezier(.4,2.08,.55,.44);*/
}
.seconds-container {
    transform: rotateZ(120deg);
    transition: transform 3s ease-in-out; /*cubic-bezier(.4,2.08,.55,.44);*/
}


